<!doctype html>
<html>
<head>
    <title>Be Careful What You Yik Yak</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<div class="page">
    <img width='250px' height='250px' align="center"src="/static/yak-head.svg" />
    <h1>Be careful what you Yik Yak</h1>
                
    <h2>because we know where you live...</h2>
    
    <ul>
        {% for yak in yaks %}
        <li>
            <p>{{yak.message}}</p>
            <p>Likes:  {{yak.likes}}</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.709295232925!2d-117!3d34.00000000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDAwJzAwLjAiTiAxMTfCsDAwJzAwLjAiVw!5e0!3m2!1sen!2sus!4v1416036917842" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </li>

        {%endfor%}
    </ul>

</div>
</body>
</html>
